{% extends 'base.html.twig' %}

{% block title %}Modification d'une affaire{% endblock %}

{% block titrePage %}Modification d'une affaire{% endblock %}

{% block outils %}
<a class="btn btn-secondary" href="{{ path('affaire_index') }}" role="button"> Annuler les modifications</a>
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalSuppressionAffaire">
    Supprimer
</button>
{% endblock %}

{% block body %}
	
    {{ include('affaire/_form.html.twig') }}

    <!-- Modal suppression affaire -->
<div class="modal fade" id="modalSuppressionAffaire" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Supprimer une affaire</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	<div class="modal-body">
    <h3><center>Êtes-vous sûr de vouloir supprimer l'affaire {{affaire.nomFrancais}} ?</center></h3>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ne pas supprimer</button>{{ include('affaire/_delete_form.html.twig') }}
  </div>
</div>
</div>
{% endblock %}
