{% extends 'base.html.twig' %}

{% block title %}New Affaire{% endblock %}

{% block body %}
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-10">
			<h1>Inscription d'un enfant</h1>
		</div>
		<div class="col-md-2">
			<a type="button" class="btn btn-small btn-primary" href="{{ path('affaire_index') }}">Retour</a>
		</div>
	</div>
</div>

    {{ include('affaire/_form.html.twig') }}

    <a href="{{ path('affaire_index') }}">back to list</a>
{% endblock %}
