{% extends 'base.html.twig' %}

{% block title %}Hello BaseController!{% endblock %}

{% block body %}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
      <div class="logo">
            <a href="/gestionSejours"><img src="https://udaleku.eus/lib/css/irudik/logoa-lauki.png" height="170" width="170" class="img-fluid"></a>
      </div>
  </a>
  <a href="/login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Connexion</a>
</nav>

<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="/gestionSejours">Gestion des séjours</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/gestionListesAffaires">Les listes d'affaires</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/gestionAffaires">Gestion des affaires</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/gestionEnfants">Gestion des enfants</a>
  </li>
</ul>
{% endblock %}
