<form method="post" action="{{ path('enfant_suppression', {'id': enfant.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ enfant.id) }}">
    <button class="btn btn-danger">Désinscrire</button>
</form>

