{% extends 'base.html.twig' %}

{% block title %}Nouvel Enfant{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-10">
		<h1>Inscription d'un enfant</h1>
      		{% set tabMessages = [] %}
        	{% for message in app.flashes('error') %}
            	{% set tabMessages = tabMessages|merge([message]) %}
        	{% endfor %}
        	{% if tabMessages.0 is defined %}
        	<div class="alert alert-danger">
        		{% for message in tabMessages %}
            		{{ message }}
            		<br />
        		{% endfor %}
        	</div>
        	{% endif %}
    </div>
    <div class="col-md-2">
      <a type="button" class="btn btn-small btn-primary" href="{{ path('enfant_index') }}">Retour</a>
    </div>
  </div>
    
    {{ include('enfant/_form.html.twig') }}
    
{% endblock %}
