{% extends 'base.html.twig' %}

{% block title %}Nouvelle liste d'affaires{% endblock %}

{% block body %}
    <h1>Création d'une liste d'affaires</h1>

    {{ include('liste_affaire/_form.html.twig') }}

    <a href="{{ path('liste_affaire_index') }}">back to list</a>
{% endblock %}
