{% extends 'base.html.twig' %}

{% block title %}Nouvelle liste d'affaires{% endblock %}

{% block titrePage %}Nouvelle liste d'affaires{% endblock %}

{% block outils %}
{% endblock %}

{% block body %}

    {{ include('liste_affaire/_form.html.twig') }}

<br>
    <a class="btn btn-primary" href="{{ path('liste_affaire_index') }}" role="button">Retour</a>
{% endblock %}
