{% extends 'base.html.twig' %}

{% block title %}Nouvelle liste d'affaires{% endblock %}

{% block titrePage %}Nouvelle liste d'affaires{% endblock %}

{% block outils %}
<a class="btn btn-secondary" href="{{ path('liste_affaire_index') }}" role="button">Retour</a>
{% endblock %}

{% block body %}

    {{ include('liste_affaire/_form.html.twig') }}


{% endblock %}
