<form method="post" action="{{ path('sejour_suppression', {'id': sejour.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce séjour ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sejour.id) }}">
    <button class="dropdown-item" style="color: red"> Supprimer </button>
</form>
