{% extends 'base.html.twig' %}

{% block title %} Nouveau séjour {% endblock %}

{% block titrePage %} Nouveau séjour {% endblock %}

{% block outils %}

	<a class="btn btn-success" href="{{ path('sejour_creation') }}" role="button"> Créer </a>
	<a class="btn btn-primary" href="#" role="button"> Ouvrir </a>

	<div class="btn-group" role="group">
		<button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Options
		</button>
		<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
			<a class="dropdown-item disabled" href="#"> Modifier </a>
			<a class="dropdown-item disabled" href="#"> Supprimer </a>
			<a class="dropdown-item disabled" href="#"> Imprimer, générer </br> et publipostage </a>
		</div>
	</div>
	<a class="btn btn-primary" href="{{ path('sejour_index') }}" role="button"> Annuler la création</a>

{% endblock %}

{% block body %}

	{{ include('sejour/_form.html.twig') }}

{% endblock %}
